      {% extends 'base.html.twig' %}

      {% block title %}
      	{{ parent() }}
      {% endblock %}

      {% block javascripts %}
      	{{ parent() }}
      {% endblock %}

      {% block stylesheets %}
      	{{ parent() }}
      {% endblock %}

      {% block menu %}
      	{{ parent() }}
      {% endblock %}

      {% block banner %}
      {% endblock %}

      {% block body %}
          <section id="main" class="wrapper">
            <div class="container">
              <header class="major">
                <h2>Tupi Sonata</h2>
                <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
              </header>              
              <p>Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan.</p>
            </div>
          </section>
      {% endblock %}

      {% block footer %}
      	{{ parent() }}
      {% endblock %}
